{% extends 'base.html' %}
{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'javascript/notes.js' %}"></script>
{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<center><h1>Notifications:</h1></center>
			<br>
			{% if notes %}

				<ul class="list-unstyled">
					
					{% for i in notes %}
						<center><li class="li1">{{i.ndetail}}</li><br><br></center>
					{% endfor %}
					
				</ul>
			
			{% else %}
				<h3>No Notifications</h3>
			{% endif %}
		</div>
	</div>
</div>
	
<style type="text/css">
	h1,.li1, h3{
		color:#EAECEE;
	}
	.li1{
		border:2px solid #F9E79F;
		border-radius: 5px;
		font-family: tahoma;
		padding:10px;
	}
</style>
{% endblock %}
